.container {
  padding: 24;
  min-height: 600px;
  background: #fff;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.tabs {
  margin-top: 30px;
  min-height: 550px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

.logo {
  background: url('../../assets/images/Easy-Doc.png') no-repeat;
  background-size: 100% 100%;
  width: 170px;
  height: 60px;
  float: left;
}

.title {
  color: black;
  text-align: left;
  padding-left: 50px;
  margin-top: 100px;
}

.title .name {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}

.title .description {
  font-size: 20px;
  margin-bottom: 10px;
}

.title .concat {
  font-size: 20px;
}

.panel {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: 20px;
}

.panelButton {
  width: 100px;
  text-align: center;
  height: 35px;
  margin: 0 10px;
  border: none;
}

.pressButton {
  width: 100px;
  float: right;
  text-align: center;
  margin: 0 10px;
}

.panelItem {
  display: flex;
  justify-content: space-between;
}

.panelItem .name {
  font-size: 30px;
  font-weight: 500;
  margin: 0 10px;
}

.panelItem .headPath {
  font-size: 20px;
  margin-right: 10px;
}

.panelItem .description {
  font-size: 20px;
}

.panelItem .author {
  font-size: 20px;
}


.subPanel {
  text-align: left;
  font-size: 20px;
  font-weight: 500;
}

.subPanelDetail {
  margin: 15px 0;
}

.excute {
  height: 45px;
  font-size: 20px;
  margin: 20px 0;
}

.required {
  color: red;
}

.paramType {
  font-style: italic;
  font-size: 16px;
}

.deprecated {
  text-decoration: line-through;
  text-decoration-color: #000;
}

.modelPanel {
  font-size: 30px;
  font-weight: 500;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  line-height: 88px;
}

.modelItem {
  background: #5a5a5a;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  min-height: 120px;
  width: 100%;
}

.close-circle {
  font-size: 20px;
  color: red;
}

.check-circle {
  font-size: 20px;
  color: green;
}

.pressureBtn {
  margin: 25px 0;
}

.container > .ant-tabs-card > .ant-tabs-content {
  min-height: 120px;
  margin-top: -16px;
}

.container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: #26292e;
  color: #fff;
}

.container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
  color: black;
}

.col {
  margin-bottom: 10px;
}

.modelDesciption {
  font-size: 20px;
  font-weight: normal;
}

.deleteText {
  text-decoration: line-through;
}

.pointer {
  cursor: pointer;
  color: #92ad9f;
}

.login-form-button {
  float: right;
}

.treeNode {
  color: #fff;
  font-size: 20px;
}

.node {
  margin-right: 50px;
  margin-left: -30px;
}

.achor {
  text-decoration: none;
  color: #000;
}

.achor:link {
  text-decoration: none;
  color: #000;
}

.achor:active {
  text-decoration: none;
  color: #000;
}

.achor:visited {
  text-decoration: none;
  color: #000;
}

.achor:hover {
  text-decoration: none;
  color: #000;
}

.contact {
  font-size: 16px;
  border-radius: 15px;
  vertical-align: top;
  padding: 5px 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.52);
}