.container {
  padding: 24;
  min-height: 600px;
  background: #fff;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.tabs {
  margin-top: 30px;
  min-height: 550px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
}

.logo {
  background: url('../../assets/images/Easy-Doc.png') no-repeat;
  background-size: 100% 100%;
  width: 170px;
  height: 60px;
  float: left;
}

.title {
  color: black;
  text-align: left;
  padding-left: 50px;
  margin-top: 100px;
}

.title .name {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}

.title .description {
  font-size: 20px;
  margin-bottom: 10px;
}

.title .concat {
  font-size: 20px;
}

.panel {
  /* border: 1px solid #ededed; */
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  font-size: 20px;
}

.panelButton {
  width: 80px;
  text-align: center;
  height: 35px;
  margin: 0 10px;
  border: none;
}

.pressButton {
  width: 80px;
  float: right;
  text-align: center;
  margin: 0 10px;
}

.panelItem {
  display: flex;
  justify-content: space-between;
}

.panelItem .name {
  font-size: 30px;
  font-weight: 500;
  margin: 0 10px;
  line-height: 88px;
}

.panelItem .headPath {
  font-size: 20px;
  margin-right: 10px;
}

.panelItem .description {
  font-size: 20px;
}

.panelItem .author {
  height: fit-content;
  float: right;
  font-size: 20px;
  margin: 33px 20px;
  padding: 4px 7px;
  border-radius: 17px;
  background: #5a5a5a;
  color: #fff;
}

.subPanel {
  text-align: left;
  /* border: 1px solid red; */
  /* margin: 0 10px; */
  font-size: 20px;
  font-weight: 500;
}

.subPanelDetail {
  margin: 15px 0;
}

.excute {
  height: 45px;
  font-size: 20px;
  margin: 20px 0;
}

.required {
  color: red;
}

.paramType {
  font-style: italic;
  font-size: 16px;
}

.deprecated {
  text-decoration: line-through;
  text-decoration-color: red;
}

.modelContent {
  padding: 30px;
}

.modelItem {
  background: #5a5a5a;
  color: #fff;
  font-weight: 500;
  height: 120px;
  width: 100%;
  overflow: scroll;
  text-align: center;
}

.close-circle {
  font-size: 20px;
  color: red;
}

.check-circle {
  font-size: 20px;
  color: green;
}

.pressureBtn {
  margin: 25px 0;
}

.container > .ant-tabs-card > .ant-tabs-content {
  min-height: 120px;
  margin-top: -16px;
}

.container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.container > .ant-tabs-card > .ant-tabs-bar {
  border-color: #fff;
}

.container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
  background: #26292e;
  color: #fff;
}

.container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #fff;
  background: #fff;
  color: black;
}
